body{
    width: 1900px;
    background-color: #F2B279;
}

header nav ul li:nth-child(2) a{
    background-color: #591202;
}

body {
    height : 100%;
    width: 100%
}

#equipe {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}

.personne {
    height: 300px;
    border: 1px solid black;
}

.personne img {
    height: 100%;
    width: 70%;
    float: left;
    object-fit: cover;
}

.content {
    padding: 0 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.content img {
    height: 30px;
    width: auto;
}