nav{
    display: flex;
    width: 1900px;
}

nav img{
    width: 40px;
    height: 60px;
}

nav ul{
    right:0%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 0%;margin: 0%;
    width: 100%;
    align-content: flex-end;

}

nav ul li{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width : 10%;
    height: 60px;
    background-color: #8C6354;
    font-size: 10px;
    list-style: none;
}

nav ul li a{
    width : 186px;
    height: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: azure;
    text-decoration: none;
    text-align: center;
}
nav ul li:hover{
    background-color: aliceblue;
}

nav ul li:hover #principal{
    color:rgb(153, 112, 9) ;
    background-color: aliceblue;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #8C6354;
    width: 100%;
    z-index: 1;
}

.dropdown-content a {
    height: 40px;
    color: black;
    padding-top: 20px;
    font-size: 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color:rgb(153, 112, 9) ;
    background-color: aliceblue;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
  }